fieldset {
    margin-bottom: 1em;
    margin-top: 1em;
}
.inputArray ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inputArray li {
    display: inline-block;
    text-align: center;
    margin: 1px;
}

.inputArray input {
    text-align: center;
}

.lt-ie8 .inputArray li {
    display: inline;
    zoom: 1;
}

.label {
    font-weight: bold;
    font-size: 13px;
}

.inputArray .caption {
    margin-bottom: 0.8ex;
    margin-right: 5px;
    text-align: right;
    min-width: 2em;
}

.inputArray .index {
    font-size: 80%;
    font-weight: normal;
}

input[type="text"], textarea {
    width: 55px;
    display: inline-block;
    margin: 2px;
    padding: 3px 5px;
}

legend {
    text-shadow: 1px 1px 1px #bbb;
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.weights-group a {
    margin-top: 1em;
}

/*
a {
    text-decoration: none;
    color: #812C1F;
}

a:hover, a:active {
    color: #BF4634;
    text-decoration: underline;
}
*/

input[type="text"].invalid-text {
    background-color: #332;
    color: #FF7733;
}

.errmsg {
    color: #FF7733;
    font-weight: bold;
    display: none;
}

form .errmsg {
    font-size: 92%;
    font-weight: normal;
}

.errmsg .MathJax {
    color: #FF7733;
}

label.infotip {
    margin-bottom: 1ex;
}

span.infotip {
    color: #555;
    font-size: 92%;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 1ex 2ex;
    margin-top: 3ex;
    width: 88%;
    display: block;
    text-align: center;
}

.infotip .caption {
    margin-right: 1ex;
}

.MathJax {
    /*color: #555;*/
    color: #4C6B8B;
}

.DisplayMath {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

#size-str {
    margin-left: 1ex;
    font-size: 92%;
}

.weights-group {
    border-left:   7px solid #ccc;
    padding-left:  9px;
    margin-bottom: 1.4em;
    margin-top:    1.7em;
}

.label a, label a {
    font-weight: normal;
    margin-left: 1ex;
}

.dialog ul {
    margin-top: 1em;
}

#figure, #normalization {
    width: 8em;
}

#combiner {
    width: 16em;
}

#results > div {
    margin-top: 7px;
}

#multilevel-panel,
#results,
#results-command,
#construction-gen-panel,
#construction-nrand-panel,
#abort-button,
.with-results {
    display: none;
}

#results-command {
    font-family: monospace;
    overflow: auto;
}

#results .caption {
    font-weight: bold;
    text-align: right;
}

#footer {
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #999;
    text-align: center;
    font-size: 88%;
    border-top: 1px solid #ddd;
}

#footer a, #footer a:hover, #footer a:active {
    color: #999;
}
