fieldset {
    margin-bottom: 1em;
    margin-top: 1em;
}

.spinner-widget input[type="text"] { width: 2em; }
.spinner-widget a { text-decoration: none; }

.inputArray ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inputArray li {
    display: inline-block;
    text-align: center;
    margin: 1px;
}

.inputArray input {
    text-align: center;
}

.lt-ie8 .inputArray li {
    display: inline;
    zoom: 1;
}

.label {
    font-weight: bold;
    font-size: 13px;
}

label span,
legend span {
    font-size: inherit;
}

.inputArray .caption {
    margin-bottom: 0.8ex;
    margin-right: 5px;
    text-align: right;
    min-width: 2em;
}

.inputArray .index {
    font-size: 80%;
    font-weight: normal;
}

input[type="text"], textarea {
    width: 55px;
    display: inline-block;
    margin: 2px;
    padding: 3px 5px;
}

legend {
    text-shadow: 1px 1px 1px #bbb;
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.weights-group a {
    margin-top: 1em;
}

/*
a {
    text-decoration: none;
    color: #812C1F;
}

a:hover, a:active {
    color: #BF4634;
    text-decoration: underline;
}
*/

input[type="text"].invalid-text {
    background-color: #332;
    color: #FF7733;
}

.alert {
    color: white;
    background-color: #FF7733;
    border-radius: 3px;
}

.errmsg {
    color: #FF7733;
    font-weight: bold;
}

form .errmsg {
    font-size: 92%;
    font-weight: normal;
    display: none;
}

.DisplayMath {
    /*color: #555;*/
    color: #4C6B8B;
}

label .MathJax {
    margin-left:  0.3ex;
    margin-right: 0.3ex;
}

.DisplayMath {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

.weights-group {
    border-left:   7px solid #ccc;
    padding-left:  9px;
    margin-bottom: 1.4em;
    margin-top:    1.7em;
}

.label a, label a, legend .tip {
    font-weight: normal;
    margin-left: 1ex;
    text-shadow: none;
}

.tip {
    color: #666;
    font-size: 88%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0.3ex 0.8ex;
}

span.tip {
    margin-left: 1ex;
}
div.tip {
    margin-top: 1ex;
    width: auto;
    display: inline-block;
    clear: left;
}

.jqModal ul {
    margin-top: 1em;
}

#figure, #normalization {
    width: 8em;
}

#combiner {
    width: 16em;
}

#results > div {
    margin-top: 7px;
}

#multilevel-panel,
#results,
#results-command,
#construction-gen-panel,
#construction-nrand-panel,
#abort-button,
.with-results {
    display: none;
}

#code-dialog textarea {
    font-family: monospace;
    font-size: 90%;
    width: 90%;
    height: 16em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: white;
    border: 1px inset #aaa;
    border-radius: 3px;
}

#results-command {
    font-family: monospace;
    overflow: auto;
}

#results .caption {
    font-weight: bold;
    text-align: right;
}

#footer {
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #999;
    text-align: center;
    font-size: 88%;
    border-top: 1px solid #ddd;
}

#footer a, #footer a:hover, #footer a:active {
    color: #999;
}
