body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 15px;
    color: #333;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

table {
    font-size: inherit;
}

.TextBoxArrayCell {
    display: inline-table;
}

.gwt-TextBox, .gwt-TextArea, .gwt-ListBox, .gwt-Button {
    font-family: inherit;
    background-color: white;
    border: 1px inset #cccccc;
    border-radius: 3px;
    padding: 3px;
    color: #333;
}

.gwt-ListBox, .gwt-Button {
    border: 1px solid #cccccc;
}

.gwt-Button {
    background-color: #f0f0f0;
    padding: 8px;
}

.gwt-Button:hover {
    background-color: #ddd;
}

.gwt-Button:active {
    background-color: #ccc;
}

.gwt-DialogBox {
    border: 2px solid;
    border-color: #115;
    background-color: white;
    width: 20em;
}

.gwt-DialogBox .Caption {
    background-color: #eee;
    padding: 1ex;
    margin: 2px;
    font-weight: bold;
    cursor: default;
    font-family: sans-serif;
    font-size: larger;
}

.gwt-DialogBox .Contents {
    padding: 10px;
}

.gwt-PopupPanelGlass {
    background-color: #003;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.gwt-Captionpanel {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 100%;
}

.gwt-Captionpanel legend {
    text-shadow: 1px 1px 1px #bbb;
    padding: 5px;
}

.gwt-Captionpanel .gwt-Captionpanel {
    background-color: #f0f0f0;
}

.CaptionLabel {
    width: 10em;
    text-align: right;
    vertical-align: baseline;
    padding: 3px;
}

.ResultsCaptionLabel {
    width: 10em;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

.Command {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #4183C4;
}

a:hover, a:active {
    color: #3D6184;
}

.action {
    font-size: 90%;
}
